name: CMake

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  Build_And_Test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes
    
    - name: Configure CMake
      run: |
        nix develop --command bash -c "
          cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_TESTS=True -DBUILD_EXAMPLES=True
        "

    - name: Build
      run: |
        nix develop --command bash -c "
          cmake --build build --config $BUILD_TYPE
        "

    - name: Run Tests
      run: |
        nix develop --command bash -c "
          ctest --test-dir build --output-on-failure
        "
